.blog_bannerText {
  position: absolute;
  bottom: 25%;
  color: white;
  left: 10%;
  font-size: 4rem;

  @media (max-width: 992px) {
    font-size: 45px;
  }

  @media (max-width: 768px) {
    font-size: 30px;
  }
}

.blog_article,
.blog_article_detail {
  z-index: 2;
  background-color: transparent;

  .cardDate {
    background-color: rgb(255, 212, 13);
    letter-spacing: 0.3rem;
    width: fit-content;
    margin-bottom: 3px;
  }

  .myCardBody {
    position: relative;
    padding-bottom: 3rem;

    p {
      text-align: left;
      letter-spacing: 0.3rem;
    }
  }
}

.blog_article {
  .myCardBody {
    p {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
    }
  }
}

.blog_article_detail {
  h4 {
    text-decoration: green wavy underline;
    text-underline-offset: 5px;
    padding-bottom: 5px;
  }

  .myCardBody {
    border-bottom: 3px dotted green;

    > p {
      line-height: 2;
      text-overflow: clip;
      white-space: wrap;

      &::first-letter {
        font-size: 2rem;
      }
    }
  }
}

.blog_deco {
  top: 70%;
  z-index: -1;

  &:nth-last-of-type(2) {
    top: 30%;
    right: 5%;
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  @media (max-width: 1024px) {
    display: none;
  }
}

.otherArticle {
  &:first-of-type {
    border-right: 3px dotted black;
  }

  padding: 0 3px;
}
