@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

//all
body {
  font-family: "Roboto", "Noto Sans TC", "微軟正黑體", sans-serif !important;
}

.top-10 {
  top: 10%;
}

.errorAlert {
  color: red;
  font-weight: 600;
}

.full-height {
  min-height: calc(100vh - 253px - 78px);
}

.loadingPage {
  background-color: white;
  backdrop-filter: blur(2px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

.back_To_Top {
  position: fixed;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  padding: 5px;
  z-index: 99;
  bottom: 5%;
  right: 5%;
  border: 2px solid #808080;
  color: #808080;

  .back_To_TopIcon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
  }

  &:hover {
    background-color: #008000;
    color: white;
  }
}

.myHover {
  transition: 0.2s linear;

  &:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background-color: rgba(lighten($primary, 12%), 0.6);
  }
}

.section_banner {
  height: 300px;
  background-size: cover;
  background-position: right 35% bottom 45%;
  @include media-breakpoint-down(md) {
    height: 200px;
  }
}

.screen {
  position: relative;
  overflow: hidden;
}

.box {
  position: relative;
  min-width: 100px;
  max-width: 300px;
  margin-bottom: 25px;
}

.flex-grow {
  flex-grow: 1;
}

.productIcon {
  width: 35px;
  margin-right: 1rem;
}

.w-200 {
  width: 200px;
}

//navbar

.myNavbar {
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0) 45%
  );
  color: #ffffff;
  transition: all 0.2s linear;

  .navbarSection {
    padding: 0 5%;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    background-color: transparent;
  }
}

.scroll {
  background-color: black;
}

//footer
.footerLogo:hover {
  transform: scale(1.5);
}

.myFooter {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.25;
    background-image: url("../assets/footer_deco.png");

    background-size: cover;
  }

  .container {
    position: relative;
    z-index: 3;
  }
}

.button-56 {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 24px;
  max-width: 100%;
  padding: 3px 5px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  letter-spacing: 0.3rem;
}

.button-56:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform 0.2s ease-out;
  z-index: -1;
}

.button-56:hover:after {
  transform: translate(0, 0);
}

.button-56:active {
  background-color: #ffdeda;
  outline: 0;
}

.button-56:hover {
  outline: 0;
}

@include media-breakpoint-down(md) {
  .button-56 {
    padding: 3px 10px;
  }
}

.cursor-default {
  cursor: default !important;
}
